html
	head
		script(src='/socket.io/socket.io.js')
		script(src='/util/psre/psreassign.js')
		script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML")
		link(rel='stylesheet', href='/css/hwuserhistory.css')
		title Student evaluation page
	body
		div(id='partition1')
			div(id='r2listdivbrief')
		div(id='partition2')
			div(id='head')
				div(id='controlpanel')
					div(id='container1')
						//div(id='rdinspect' onclick='rdInspecting()') RD inp
						div 
							a(onclick='intervalResultDisplay("past")') irdP
						div(id='classinspect')
							a(onclick='intervalResultDisplay("recent")') irdR
							
						div(id='rounddisplay' onclick='setExtreme()') 0
						div(id='divisiondisplay' onclick='intervalkindchange()')
						div(id='prv') Prv 
						div(id='next') Next
						//- div(id='switchMode') Switch
					div(id='container2')
				
				div(id='stdlistdiv')
			div(id='r2body')
				div(id='r2listdiv')
			div(id='prbdisplay')
				div(id='prblist')
				div(id='solveresult')
			
		script.
			var userinfo=!{JSON.stringify(username)}
			var socket = io('/vdrg');
			//- var r2list=!{JSON.stringify(r2list)}
			var r2listOrigin=!{JSON.stringify(r2list)}
			var username='bob';
			var beforetime=1;
			var divinum=10;
			var intervalkind=0;
			var r2list;
			var simplifiedMode=!{JSON.stringify(simplifiedMode)}

			//- var simplifiedMode=false;


			var roundnum=0
		script(type='module', src='/component/hwuserhistory/main_component_hwuserhistory.js')


