html
	head
		title Subject Analysis
		script(src='/socket.io/socket.io.js')
		script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML")
		style.
		link(rel='stylesheet', href='/css/subjectanalysis2.css')
	div(id='main')
		div(id='createtopicbox')
		button(onclick="sceneChange()") Mode Change
		button(id='saveorder', onclick='saveOrder("orderset")') saver Order
		button(onclick="sceneChange2()") Rankcall
	div(id='panel')
		div(id='resultdisplaydatacall')
		div(id='r2change')
	div(id='activedisplay')
	div(id='waitinglist')
	div(id='containerbox1')
		div(id='confirmedlist')
	div(id='containerbox3')
	div(id='stdlist')
	script.
		var socket = io('/vdrg', {
			transports: ['websocket'],
			upgrade: false
		});
		// all function started from admin. none admin function is delted from admin function
		var chosenprb = '';
		var periodrd = 1;
		var rgprblist = [];
		var givenprblist = [];
		
		const cps = !{JSON.stringify(cps)};
		const r3list = !{ JSON.stringify(r3list) };
		const mode = !{ JSON.stringify(mode) };


		const userinfo = !{ JSON.stringify(userinfo) };
		var username = !{ JSON.stringify(username) };

	
	script(type='module', src='/component/subjectanalysis/main_component_subjectanalysis.js')


