html
	head
		title Subject Analysis
		script(src='/socket.io/socket.io.js')
		script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML")
		style.
		link(rel='stylesheet', href='/css/subjectanalysis2.css')
	div(id='main')
		div(id='createtopicbox')
		button(onclick="sceneChange()") Mode Change
		button(id='saveorder', onclick='saveOrder("orderset")') saver Order
		button(onclick="sceneChange2()") Rankcall
	div(id='panel')
		div(id='resultdisplaydatacall')
		div(id='r2change')
	div(id='activedisplay')
	div(id='waitinglist')
	div(id='containerbox1')
		div(id='confirmedlist')
	div(id='containerbox3')
	div(id='stdlist')
	script.
		var socket = io('/vdrg', {
			transports: ['websocket'],
			upgrade: false
		});
		// all function started from admin. none admin function is delted from admin function
		var chosenprb = '';
		var periodrd = 1;
		var rgprblist = [];
		var givenprblist = [];
		
		var cps = !{JSON.stringify(cps)};
		var r3list = !{ JSON.stringify(r3list) };
		var mode = !{ JSON.stringify(mode) };


		var userinfo = !{ JSON.stringify(userinfo) };
		console.log('userinfo',userinfo)
		var username = !{ JSON.stringify(username) }

		//- if (mode == 'admin') {
			
		//- } else {
		//-     var userinfo = !{ JSON.stringify(userinfo) }
		//- }
		//- if (mode == 'admin') {
		//- 	var username = 'songarim1029';
		//- } else {
		//- 	var username = !{ JSON.stringify(username) }
		//- 	removeallele('main');
		//- }
		//- var endsymbol = '%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%';

	
	script(type='module', src='/component/subjectanalysis/main_component_subjectanalysis.js')
		
	script.
		function r1Call(r1obj,r2id){
					var tempr1set=document.getElementById('tempr1set'+r2id);
					if(tempr1set){
						tempr1set.remove();
					}else{
						tempr1setclass=document.getElementsByClassName('tempr1set');
						for(var ia=0; ia<tempr1setclass.length; ia++){
							tempr1setclass[ia].remove();
						}
						var tempr1set=document.createElement('div');
						tempr1set.id='tempr1set'+r2id;
						tempr1set.className='tempr1set';
						for(var ia=0; ia<r1obj.length; ia++){
							var r1div=document.createElement('div');
							r1div.className='r1div';
							r1div.id=r1obj[ia].r1id;	
							var r1divadiv=document.createElement('div');
							r1divadiv.className='r1divadiv';
							r1divadiv.id='rd'+r1obj[ia].r1id;
							var r1divanum=document.createElement('a');
							r1divanum.innerHTML=ia+1+'. ';
							r1divadiv.appendChild(r1divanum);
							r1divanum.onclick=function(j){
								return function(){
									socket.emit('subjectanalysis2',{mode:'callprb',prblist:j})
								}
							}(r1obj[ia].r1prb);
							var r1diva=document.createElement('a');
							if(r1obj[ia].r1prb!=''){
								r1diva.innerHTML=r1obj[ia].r1listinfo+ '<a style="font-size:.8em">('+r1obj[ia].r1prb.split(",").length+')</a>';
							}else{
								r1diva.innerHTML=r1obj[ia].r1listinfo+ '<a style="font-size:.8em">('+0+')</a>';
							}
							r1divadiv.appendChild(r1diva);
							var chk=0;
							var chk1=0;
							for(ib=0; ib<cps.length; ib++){
								if(endsymbol==cps[ib].listinfo){
									chk1=1;
								}
								if(cps[ib].cptid == r1obj[ia].r1id && chk1==0){
									chk=1;
									break;
								}
							}
							if(chk==1){
								r1diva.parentNode.style.backgroundColor='red';
								r1diva.parentNode.style.color='white';
							}else{
								r1diva.onclick=function(j){
									return function(){
									for(var ia=0; ia<rgprblist.length;ia++){
										if(rgprblist[ia][1]==j){
											removeFromrglistRank(rgprblist[ia]);	
											break;
										}
									}
								}}(r1obj[ia].r1id);
							}
							r1div.appendChild(r1divadiv);
							tempr1set.appendChild(r1div);
						}
						var refnode=document.getElementById('rankcall'+r2id);
						refnode.parentNode.insertBefore(tempr1set,refnode.nextSibling);
						MathJax.Hub.Queue(["Typeset",MathJax.Hub,tempr1set])	
					}
				}	
			function callStdlist(){
				if(mode!='admin'){
					socket.emit('callstdlist',{username:userinfo.username,mode:'teacherstd'});	
				}else{
					socket.emit('callstdlist');	
				}
			}
			function userColorset(username,classname){
				var colordiv=document.getElementsByClassName(classname);
				for(var ia=0; ia<colordiv.length; ia++){
					colordiv[ia].style.backgroundColor='';
					//colordiv[ia].style.color='black';
				}
				document.getElementById('chosen'+username).style.backgroundColor='#DDF2BF';
				//document.getElementById('chosen'+username).childNodes[0].style.color='black';
			}
		
